<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Phishing Link Detector</title>
    <link rel="stylesheet" href="/templates/form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <div class="navbar">
        <h1>Phishing Link Checker</h1>
    </div>
    <div id="output">
        <form class="searchbar" method="post">
            <input type="string" name="url" placeholder="Website URL">
            <input type="submit" value="Check">
        </form>
        <div class="result">
        {% if stausUpdate %}
        <h3>
            {{urlUpdate}} is
            {{stausUpdate}}
        </h3>
        {% endif %}
    </div>
    </div>
</body>

</html>