@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    /* max-width: 500px; */
    /* margin:0 auto; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* text-align: center; */
}
.navbar
{
    width: 100%;
    height: 10%;
    background: rgb(27, 26, 63);
    text-align: center;
    color: #fff;
}
#output {
    display: flex;
    margin: 50px 0 0 0;
    flex-direction: column;
    align-items: center;
}
.searchbar
{
    background: rgb(27, 26, 63);
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 10px ;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
}
.searchbar input[type=string]
{
    background: transparent;
    color: rgb(255, 255, 255);
    outline: none;
    font-size: 22px;
    border: none;
}
.searchbar input[type=submit]
{
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    background: #fff;
    padding: 10px 15px;
}
.searchbar input[type=submit]:hover
{
    background: red ;
    color: #fff;
    
}
.result
{
    margin: 50px 0 0 0;
    background: rgba(209, 209, 209, 0.384);
    border-radius: 20px;
    width: 98%;
    text-align: center;
}
@media screen and (max-width: 660px) {
    
    .searchbar
{
    width: 90%;
}
.searchbar input[type=string]
{
    font-size: 16px;
}
}