<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phishing Link Detector</title>
    <link rel="stylesheet" href="/static/form.css">
</head>
<body>
    <h1>Phishing Link Checker</h1>
    <div id="output">
        <form method="post">
             <input type="string"
                    name="url"
                    placeholder="url"
                    >
            <input type="submit"
                    value="check">
        </form>
        {% if stausUpdate %}
        <h3>
            {{urlUpdate}} is
            {{stausUpdate}}
        </h3>
        {% endif %}
    </div>
</body>
</html>